{# templates/positions_listing.html.twig #}

<div class="job-listing">
{% for position in positions %}
    <h2 class="title">
        {{ position.title }}
    </h2>
    <h4 class="company">
        {{ position.company }}
    </h4>
    <h4 class="location">
        {{ position.location }}
    </h4>
    <h4 class="type">
        {{ position.type }}
    </h4>
    <h4 class="created">
        {{ position.created_at }}
    </h4>
    <div class="description">
        {{ position.description }}
    </div>
{% endfor %}
</div>